html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Karma, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

article id {
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
